<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Keys : A cloud Password locker!</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>

  <body>

        <h3 class="text-muted">Cloud Keys</h3>
      </div>
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
      <div id="signupSuccess" class="alert alert-success" style="display:none">
        <p id="signupSuccessText">YOur password has successfully been stored! You'll recieve a email confirmation shortly.</p>
      </div>
      <div id="signupDuplicate" class="alert alert-success" style="display:none">
        <p id="signupDuplicateText">Fear not, you're already on the list! You'll be among the first to know when we launch.</p>
      </div>
      <div id="signupError" class="aleSrt alert-info" style="display:none">
        <p id="signupErrorText">Well this is embarrassing. It looks like we're having trouble getting you on the list.</p>
      </div>
      <div class="jumbotron">
        <h1>Cloud Keys </h1>
        <p class="lead">We're pretty thrilled to unveil our latest creation. A cloud based Password Locker!</p>
        <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#signupModal">Save Password </a></p>
        <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#retrievalModal">Retrieve Password </a></p>
      </div>
      <!-- Modal 1 -->
       <div class="modal fade" id="retrievalModal" tabindex="-2" role="dialog" aria-labelledby="retrievalModal" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Provide the Email and Domain of the Password you want to retrieve!</h4>
             </div>
             <div class="modal-body">
               <form id="retrievalForm" role="form">
                 <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
                 <div class="form-group">
                   <label for="email">Email</label>
                   <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                 </div>
                 <div class="form-group">
                   <label for="domain">Domain</label>
                   <input type="domain" class="form-control" id="domain" name="domain" placeholder="Domain">
                 </div>
                   </div>
             <div class="modal-footer">
               <button id="retrieve" type="button" class="btn btn-primary">Find Password!</button>
                </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->

    </div> <!-- /container -->
      <!-- Modal 2 -->
       <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Provide the Domain and Password you want to save!</h4>
             </div>
             <div class="modal-body">
               <form id="signupForm" role="form">
                 <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
                 <div class="form-group">
                   <label for="email">Email</label>
                   <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                 </div>
                 <div class="form-group">
                   <label for="domain">Domain</label>
                   <input type="domain" class="form-control" id="domain" name="domain" placeholder="Domain">
                 </div>
	               <div class="form-group">
                   <label for="password">Password</label>
                   <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                 </div>
             </div>
             <div class="modal-footer">
               <button id="signup" type="button" class="btn btn-primary">Save password!</button>
             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->

    </div> <!-- /container -->

    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
    </script>
  </body>
</html>
